
html body  {
}
body {
}
#outer {
}

#map_and_data {
}
#map_and_key_info {
}
#map_container {
    
}
#map {
    background-color:#333333;
}
#map_tools {
	background-color:#333333;
}
.map_tool {
	color:white;
    /*background-color:steelblue;*/
    cursor:pointer;
}
.active_tool {
	background-color:darkgrey;
    
}
.inactive_tool {
	background-color:#333333;
    
}
.selected_tool {
	color:white;
    background-color:darkgrey;
}
#key_info {
    background-color:#333333;
}
#attribute_container {
}

.attribute_shell {
    border:1px solid #555555;
    border-radius:0.3em;
}
.collapsed {
}
.expanded {
   
}
.attribute_body {
}

#record_nav {
	background-color:#333333;
}
.attribute_header {
	background-color:#555555;
	color:white;
}
.attribute_type {
}
.attribute_current_value {
	color: white;
	font-weight:bold;
}
.attribute_text {
	color: #cccccc;
}
.attribute_expand_contract {
    color: #cccccc;
	font-weight:bold;
	cursor:pointer;
	background-color:inherit;
}
.suggest_list {
    margin-bottom:-1px;
	border-top:1px solid #555555;
	cursor:pointer;
	color:#999999;
}
.new_entry {
	text-align:left;
}
polyline {
	stroke-linecap: butt;
	stroke-linejoin: round;
}
.attribute_option {
    border-top:1px solid #555555;
	cursor:pointer;
	color:#555555;
}
.attribute_selected {
	background-color:steelblue;
	color:white;
	font-weight:bold;
}
.centered {
}
.attribute_input {
	background:#fff;
	font-size:inherit;
	color:inherit;
	border:none;
}

.osdata {
	position:absolute;
	top:0;
	left:0;
	color:#cccccc;
	font-size:30%;
	margin-top:-0.5em;
	width:100%;
	text-align:center;
	overflow:hidden;
	pointer-events:none;
	
}

.feature_value {
}
.record_nav_control {
	background-color:#555555;
}

.point {
	fill:red;
}
.good_point {
	fill:green;
}
.link {
	stroke:red;
}
.good_link {
	stroke:green;
}
.sp_Eagle {
	fill:blue;
}
.sp_Buzzard {
	fill:gold;
}
.lnk_Same {
	stroke:green;
}
.lnk_Different {
	stroke:blue;
	stroke-dasharray:5,5;
}

