
html body  {
    height:100%;
    width:100%;
    -webkit-text-size-adjust: 100%;
    -webkit-user-select: none;
}
body {
    font: 20px/1.5em "Helvetica Neue",Helvetica,sans-serif;
	margin:0;
  	padding:0;
   	overflow:hidden;
    color: #cccccc;
}
#outer {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    overflow:hidden;
    border-color:none;
}

#map_and_data {
    width:100%;
    height:100%;
    overflow:hidden;
}
#map_and_key_info {
    width:100%;
    height:100%;
    overflow:hidden;
}
#map_container {
	position:relative;
	float:left;
    top:0px;
    left:0px;
    height:100%;
    width: 100%;
    border-color:none;
    overflow:hidden;
    
}
#confirmation_screen {
	position:relative;
	top:0px;
    left:0px;
    height:100%;
    width: 100%;
}
.conf_show {
    pointer-events:auto;
	background-color:rgba(0,0,0,0.8);
}
.conf_hide {
    pointer-events:none;
}
.confirm_text_box {
	position:absolute;
    height:50%;
    width:50%;
    top:50%;
    left:50%;
    margin:-6em 0 0 -25%;
    color:white;
}
.confirm_button {
	position:relative;
	display:inline-block;
    height:3em;
    width:50%;
    margin:-1.5em 0 0 0;
    color:white;
    background-color:darkseagreen;
}
.deny_button {
	position:relative;
	display:inline-block;
    height:3em;
    width:50%;
    margin:-1.5em 0 0 0;
    color:white;
    background-color:lightcoral;
}
#map {
	position:absolute;
    top:0;
    width:100%;
    bottom:3em;
    overflow:hidden;
/*  background-color:red; */
}
#map_overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
/*  background-color:red; */
}
.overlay_hidden {
	height:0;
}
.overlay_show {
	height:100%;
}
#map_tools {
	position:absolute;
    bottom:0px;
    width:100%;
    height:3em;
    overflow-y:hidden;
    overflow-x:hidden;
    margin-left:0px;
    pointer-events:none;
    white-space:nowrap;
}
#map_tool_option_shell {
	position:absolute;
	bottom:3.5em;
    width:100%;
    height:2em;
    overflow:visible;
    color:white;
    pointer-events:none;
}
#current_tool {
	height:2em;
    background-color:darkgrey;
    text-align:center;
    pointer-events:auto;
}
.show_current {
	width:20%;
}
.hide_current {
	width:0;
	overflow:hidden;
}
.map_tool_options {
	position:absolute;
    display:inline-block;
    overflow:hidden;
    top:0;
    left:0;
	width:0;
    pointer-events:none;
}
.map_tool_show_options {
    position:absolute;
    display:inline-block;
    overflow:hidden;
    top:0;
    left:0;
	height:2em;
	width:100%;
    background-color:#333333;
}
.map_tool_single_option {
	position:relative;
    display:inline-block;
    overflow:hidden;
    height:100%;
    text-align:center;
    border-left:2px solid white;
    margin-left:-2px;
    pointer-events:auto;
}
.map_tool {
	position:relative;
    display:inline-block;
	width:20%;
    height:3em;
    bottom:0px;
    text-align:center;
    border-left:2px solid white;
    margin-left:-2px;
    pointer-events:auto;
    
}



#key_info {
	position:relative;
    height:100%;
/*  background-color:green; */
    overflow:hidden;
}
#attribute_container {
    width:100%;
    height:76%;
    overflow:auto;
}

.attribute_shell {
	position:relative;
	top:0.3em;
	margin-left:0.3em;
	margin-right:0.3em;
    margin-bottom:0.3em;
/*  border:1px solid #555555;
    border-radius:0.3em; */
	overflow:hidden;
}
.hidden_shell {
	position:relative;
	height:0px;
/*  border:1px solid #555555;
    border-radius:0.3em; */
	overflow:hidden;
}

.collapsed {
	height:1.5em;
}
.expanded {
   
}
.attribute_body {
	overflow-y:auto;
	max-height:9em;
	overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
}


.attribute_header {
	position:relative;
	width:100%;
	height:1.5em;
    vertical-align:bottom;
/*  background-color:darkseagreen; */
}
.attribute_type {
	font-size:66%;
	margin-left:1em;
	margin-right:1em;
	display:inline-block;
}
.attribute_current_value {
/*	color: black;
	font-weight:bold; */
	display:inline-block;
	right:2.5em;
	overflow:hidden;
}
.attribute_text {
	position:relative;
/*	color: #555555; */
    white-space:nowrap;
	z-index:1;
}
.attribute_set_default {
	position:relative;
	float:right;
/*  color: #555555;
	font-weight:bold;
	cursor:pointer;
	background-color:inherit; */
	width:2.5em;
	text-align:center;
	z-index:2;
}
.suggest_list {
	width:100%;
	overflow:hidden;
/*  border-top:1px solid #555555;
	cursor:pointer; */
	overflow:auto;
	max-height:6em;
	padding-left:0.3em;
}
.new_entry {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	overflow:hidden;
/*  border-top:1px solid #555555;
	cursor:pointer; */
	padding-left:0.3em;
}
.attribute_option {
	position:relative;
	height:1.5em;
	width:100%;
	overflow:hidden;
/*  border-top:1px solid #555555;
	cursor:pointer; */
	padding-left:0.3em;
}
.attribute_image {
	min-height:1.5em;
	width:100%;
	overflow:auto;
/*  border-top:1px solid #555555;
	cursor:pointer; */
	padding-left:0.3em;
}

.attribute_selected {
/*	background-color:steelblue;
	color:white;
	font-weight:bold; */
}
.centered {
    text-align:center;	
}
.attribute_input {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display: block;
	padding:0;
	width:100%;
	height:100%;
/*	background:#fff;
	font-size:inherit;
	color:inherit;
	border:none; */
}

.feature_value {
	display:inline-block;
}
#record_nav {
	position:absolute;
	width:100%;
	height:50%;
	top:50%;
	text-align:center;
	vertical-align:center;
}
.record_nav_control {
	display:inline-block;
	width:25%;
	height:100%;
	border-left:solid white 2px;
	border-top:solid white 2px;
	margin-left:-2px;
	margin-top:-2px;
	text-align:center;
}
